/* font-family: 'Pacifico', cursive;*/
use 'strict'

header {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    font-weight: bolder;
}

.logo {

}

.delicious {

}

.social{

}

button {

}

.paragraph {
    text-indent: 5%;
}