/* font-family: 'Pacifico', cursive;*/
h1 {
  font-family: "Yellowtail", cursive;
  font-size: 46px;
  font-weight: bold;
  font-style: italic;
}

.logo {
  height: 2em;
}

h2 {
  font-family: 'Anton';
  font-size: 3vw;
  margin-left: 1.2;
}

section p{
  font-family: 'Anton';
  color: gray;
  font-size: 12px;
}
.social {
}

button {
}

.paragraph {
  text-indent: 5%;
}
